.home {
    width: 100%;
    box-sizing: border-box;
    transition: .4s ease-in-out;
    font-family: "Montserrat", sans-serif;
}
.home.dark {
    background-color: #000;
}

.dark-mode {
    position: fixed;
    bottom: 85px;
    right: 15px;
    border: 2px solid #000;
    background-color: #fff;
    padding: 4px 10px;
    padding-bottom: 6px;
    border-radius: 10px;
    font-family: inherit;
    z-index: 850;
    transition: .4s ease-in-out;
}
.dark-mode.dark {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.home header {
    background-color: maroon;
    background-image: url(../assets/solar-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home header::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000075;
    position: absolute;
    z-index: 800;
}

.home header h1 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 700;
    z-index: 900;
    text-wrap: wrap;
    text-transform: capitalize;
}

.home header p {
    z-index: 900;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.home header .btns {
    z-index: 900;
    display: flex;
    gap: 20px;
}

.home header .btns button {
    padding: 10px 20px;
    border: 2px solid blue;
    font-family: inherit;
    color: #fff;
    font-weight: 500;
    background-color: blue;
    transition: .3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    &:nth-last-child(1) {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
    }
    &:nth-last-child(1):hover {
        background-color: blue;
        color: #fff;
    }
}
.home header .btns button:hover {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

main .about {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: inherit;
    padding: 40px 15px;
    transition: .4s ease-in-out;
}

.about div {
    background-color: inherit;
    box-sizing: border-box;
    width: 45%;
}
.about.dark {
    color: #fff;
}

.about .about-info {
    display: flex;
    padding: 30px 5px;
    flex-direction: column;
    gap: 20px;
}
.about .about-img {
    background-color: maroon;
    background-image: url(../assets/solar-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.about h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}

.about h1 {
    font-size: 2.5em;
    line-height: normal;
    text-transform: capitalize;
    font-weight: 600;
}

.about p {
    color: #707070;
}

.about p:nth-last-child(2) {
    margin-top: 7px;
    margin-bottom: 10px;
}

.about button {
    width: fit-content;
    background-color: blue;
    padding: 15px 35px;
    font-family: inherit;
    color: #fff;
    border-radius: 5px;
    border: 2px solid blue;
    transition: .3s ease-in-out;
    font-weight: 500;
    cursor: pointer;
}
.about button:hover {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
}
.about button.dark:hover {
    border-color: #fff;
    color: #fff;
}

.testimonials {
    padding: 20px 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.testimonials .testimonial-head {
    box-sizing: border-box;
    width: 300px;
    transition: .4s ease-in-out;
}
.testimonial-head.dark {
    color: #fff;
}

.testimonial-head h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}
.testimonial-head h1 {
    font-size: 2.5em;
    font-weight: 550;
    margin: 15px 0;
    text-transform: capitalize;
    line-height: normal;
}
.testimonial-head aside {
    display: flex;
    width: 90%;
    justify-content: space-between;
    box-sizing: border-box;
}
.testimonial-head aside h3 {
    font-weight: 400;
    font-size: 2.3em;
    line-height: 100%;
}
.testimonial-head aside p {
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    color: #707070;
}

.testimonials .testimonial-main {
    box-sizing: border-box;
    width: 1000px;
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

.testimonial-main .review-box {
    min-width: 400px;
    background-color: #e4f1fc;
    box-sizing: border-box;
    height: fit-content;
    padding: 20px 15px;
    border-radius: 10px;
    transition: .4s ease-in-out;
}
.review-box.dark {
    background-color: #333;
    color: #fff;
}
.review-box > p {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}
.review-box .customer-info {
    display: flex;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    align-items: center;
    gap: 15px;
}
.customer-info .avatar {
    background-image: url(../assets/ijebu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position: center;
    width: 55px;
    height: 55px;
    border: 1px solid #000;
}
.review-box:nth-last-child(1) .avatar{
    background-image: url(../assets/avatar.jpeg);
}
.review-box:nth-last-child(2) .avatar{
    background-image: url(../assets/bg-girl.jpg);
}
.review-box:nth-last-child(3) .avatar{
    background-image: url(../assets/headwears.jpg);
}
.review-box:nth-last-child(4) .avatar{
    background-image: url(../assets/ebony.jpg);
}
.customer-info .customer-name {
    height: fit-content;
}
.customer-name p {
    font-size: 13px;
    font-weight: 600;
}
.customer-name p:nth-last-child(1) {
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
}

footer {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

footer .footer-head {
    background-color: darkblue;
    width: 100%;
    color: #fff;
    display: flex;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    padding: 10px 20px;
    justify-content: space-between;
}

.footer-head h1 {
    font-size: 3.4em;
    text-transform: capitalize;
    font-family: "Comfortaa", sans-serif;
    width: 500px;
    font-weight: 500;
}
.footer-head form {
    height: fit-content;
    width: 400px;
    box-sizing: border-box;
    position: relative;
    align-self: flex-end;
}

.footer-head form input {
    border: none;
    width: 100%;
    height: 41px;
    font-family: "m";
    border-radius: 30px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 5px 10px;
}
.footer-head form button {
    border: none;
    box-sizing: border-box;
    right: 3px;
    bottom: 3px;
    padding: 10px 14px;
    background-color: #00bfff;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
}

.footer-tail {
    display: inline-flex;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    background-color: darkblue;
    padding: 30px;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    border-top: 1px solid #fff;
}

.footer-tail .first {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    gap: 25px;
    box-sizing: border-box;
}

.first p {
    font-size: 14px;
    width: 50%;
    color: #c7c7c7;
}

.first .socials {
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.socials li {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    padding: 7px;
    border-radius: 50px;
    transition: .3s ease-in-out;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.footer-tail .second {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    width: 60%;
}

.second ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 20px;
}

.second ul li {
    font-size: 14px;
    cursor: pointer;
    color: #c7c7c7;
    transition: .3s ease-in-out;
    text-decoration: 2px underline darkblue;
    text-underline-offset: 1px;
    &:hover {
        text-decoration: 2px underline #000;
        text-underline-offset: 3px;
        color: #000;
    }
}

.second ul li:nth-child(1) {
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

@media (max-width: 950px) {
    .testimonials .testimonial-main {
        width: 65%;
    }
}

@media (max-width: 650px) {
    .home header {
        height: 80vh;
    }
    .home header h1 {
        font-size: 3em;
    }
    main .about {
        flex-direction: column;
        padding: 20px 15px;
    }
    .about div {
        width: 100%;
    }
    .about .about-info {
        padding: 20px 0;
    }
    .about .about-img {
        height: 50vh;
    }
    .testimonials {
        flex-direction: column;
        gap: 20px;
    }
    .testimonials .testimonial-head, .testimonials .testimonial-main {
        width: 100%;
    }
    .testimonial-head aside {
        width: 100%;
    }
    footer .footer-head {
        gap: 15px;
        flex-direction: column;
        padding: 30px 12px;
    }
    .footer-head h1 {
        width: 100%;
        font-size: 2.8em;
    }
    .footer-head form {
        width: 100%;
        box-sizing: border-box;
    }
    .footer-tail {
        flex-direction: column;
        padding: 30px 12px;
        gap: 20px;
      }
      .footer-tail .first {
        width: 100%;
      }
      .first p {
        width: 100%;
      }
      .first .socials {
        margin-left: -7px;
      }
      .footer-tail .second {
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 30px;
        width: 100%;
      }
      .second ul {
        width: fit-content;
      }
}